.app-header {
    background: $gradient-left;
    border-radius: 1.4rem 1.4rem .5rem .5rem;
    width: 100%;
    height: 4.0625rem;
    box-shadow: 0 5px 5px $placeholder-color;
    z-index: -1;

    padding: 1.2rem .875rem 0 .875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.app-header__info {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: .5rem;
}

.app-header__headding {
    color: $heading-color;
    font-size: .6875rem;
    font-weight: 500;
    
}
.app-header__sub-heading {
   color: $sub-heading-color;
   font-size: .5rem;

}
.app-header__avatar {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $white;
    border-radius: 50%;

    img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

}
